.container {
  padding: 10px;
}

.container h2 {
  margin: 5px 0;
  font-family: Inter;
}

.container p {
  font-size: 14px;
  text-decoration: underline;
  color: grey;
  cursor: pointer;
  margin: 10px 0px;
}
